pane: '<div class="d-flex" style="height: 70px; background-color: #0a53be;"><div style="align-self: center; text-align: center; width: 15%;"> <img src="geography.png" alt="" width="50" height="50"/></div>' +
    '<div style="align-self: center; width: 70%; background-color: #0f9d58; text-align: center;">2</div>' +
    '<div style="align-self: center; width: 15%; text-align: center;"> <button class="plus-btn" type="button" name="button">Ver' +
        '</button> </div>' +
    '</div>', // DOM elements can be passed, too
